* {
  font-family: "Times New Roman";
  font-size: 24px;
  margin: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

#form {
  border-bottom: 1px solid black;
  padding: 1em;
  text-align: center;
}

h2 {
  font-family: Arial;
  text-align: center;
}

#output {
  text-align: center;
  font-family: "Gill Sans";
  font-style: italic;
  padding: 1em;
}
