* {
  font-family: "Times New Roman";
  font-size: 22px;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 1em;
  background-color: teal;
}

.sidebarMale {
  width: 15%;
  float: left;
  background-color: rgb(212, 200, 21);
  height: auto;
  position: absolute;
  top: 15%;
}

.sidebarFemale {
  width: 15%;
  float: left;
  background-color: rgb(212, 200, 21);
  height: auto;
  position: absolute;
  top: 71%;
}

.jumbotron {
  margin-bottom: 0.5em;
}

h2 {
  color: rgb(212, 200, 21);
  text-align: center;
}

#akanForm {
  padding: 1em;
  text-align: center;
  background-color: white;
}

.form-label {
  font-size: larger;
  letter-spacing: 1px;
}

#output {
  padding: 1em;
  font-family: cursive;
  font-style: italic;
  margin: 4px;
}

select {
  background: ghostwhite;
  padding: 0.2em 1em;
  margin: 5px;
  border: 1px solid black;
}

#submitBtn {
  padding: 0.2em 3em;
  margin: 30px;
  background: #1e7e34de;
  border: 1px solid black;
}

#submitBtn:hover {
  background: rgb(212, 200, 21);
}
